*{
	margin: 0;
	padding: 0;
}

html{
	font-family: 'PT Mono', monospace;
	font-size: 16px;
}

h1{
	font-size: 4em;
	font-weight: 500;
}

.wrap{
	width: 75vw;
	margin: 0 auto;
	border: 3px solid #40362D;
	margin-top: 4vh;
	padding: 2.5vh 0;

	min-width: 320px;
}

.flex{
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;
	align-items: center;
}

.no-wrap{
	flex-wrap: nowrap;
}

.title{
	text-align: center;
	margin: 25px;
}

textarea{
	width: 97%;
	resize: none;
	overflow: auto;
	outline: none;
	-moz-appearance: none;
	border: none;
}

.input{
	font-size: 2.25em;
	text-decoration: underline;

}

.output{
	font-size: 1.5em;
}

.big-icon{
	width: 64px;
	height: 64px;
}

.icon{
	width: 32px;
	height: 32px;
}

.icons{
	margin-top: 5px;
	width: 12.5vw;
	min-width: 250px;
}


button {
	cursor: pointer;
	background-color: transparent;
	border: none;
}

button :hover{
	border-radius: 3px;
	background-color: #F2F2F2;
}

.controls{
	display: flex;
	flex-direction: column;
	align-items: center;
}

input[type=checkbox] {
    visibility: hidden;
}
.checkbox {
	width: 32px;
	height: 14px;
	border-radius: 25px;
	box-shadow: 0 0 0 2px black;
	position: relative;

	margin: 0 10px;
}

.checkbox label {
	display: block;
	width: 8px;
	height: 8px;
	border-radius: 50%;

	transition: all .5s ease;
	cursor: pointer;
	position: absolute;
	top: 3px;
	z-index: 1;
	left: 3px;
	box-shadow: 0 0 0 2px black;
}

.checkbox input[type=checkbox]:checked + label {
	left: 20px;
}

.lang{
	font-size: 0.8em;
}

@media only screen and (min-width: 768px) and (max-width: 1024px){
	.wrap{
		margin-top: 0vh;
		margin-bottom: 4vh;
		width: 100vw;
		
	}
	.textarea-wrapper{
		height: 200px;
	}
}