*{
	margin: 0;
	padding: 0;
}

html{
	font-family: 'PT Mono', monospace;
	font-size: 16px;
}

h1{
	font-size: 4em;
	font-weight: 500;
}

.wrap{
	width: 75vw;
	margin: 0 auto;
	border: 3px solid #40362D;
	margin-top: 4vh;
	padding: 2.5vh 0;

	min-width: 400px;
}

.flex{
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;
}

.title{
	text-align: center;
	margin: 25px;
}

textarea{
	width: 97%;
	resize: none;
	overflow: auto;
	outline: none;
	-moz-appearance: none;
	border: none;
}

#inputForm{
	font-size: 2.25em;
	text-decoration: underline;
}

#outputForm{
	font-size: 1.5em;
}

.big-icon{
	width: 64px;
	height: 64px;
}

.icon{
	width: 32px;
	height: 32px;
}


button {
	cursor: pointer;
	background-color: transparent;
	border: none;
}

button :hover{
	border-radius: 3px;
	background-color: #F2F2F2;
}

.controls{
	display: flex;
	flex-direction: column;
	justify-content: space-around;
}
